# This is a .env.sample file.
# Duplicate this file as .env or rename it
# and set the environment variables to match your desired config.

# ===== FastAPI =====
PROJECT_NAME='Auth API'
AUTHJWT_KEY='secret'
ECHO_VAR=True
DEBUG=False

# ===== Redis =====
REDIS_HOST='auth_redis'
REDIS_PORT=6379

# ===== PostgreSQL =====
POSTGRES_DB='auth_database'
POSTGRES_USER='fast'
POSTGRES_PASSWORD='123qwe'
POSTGRES_HOST='auth_db'
POSTGRES_PORT=5432

# ===== Docker compose variables =====
POSTGRES_VERSION=14-alpine
REDIS_VERSION=7.2.4
REDIS_PORT=6379

# ===== Jaeger =====
SERVICE_NAME='auth_service'
JAEGER_HOST='tracer_jaeger'
JAEGER_PORT=6831

# ===== OAuth =====
SECRET_KEY='secret'
GOOGLE_CLIENT_ID='client_id'
GOOGLE_CLIENT_SECRET='client_secret'

# ===== Tracer =====
ENABLE_TRACER='True'
SHOW_TRACER='False'
