# This is a .env.sample file.
# Duplicate this file as .env or rename it
# and set the environment variables to match your desired config.

# ===== Elasticsearch =====
ELASTIC_PROTOCOL=http
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200