# This is a .env.sample file.
# Duplicate this file as .env or rename it
# and set the environment variables to match your desired config.

# ===== FastAPI =====
PROJECT_NAME=movies

# ===== Redis =====
REDIS_HOST=content_redis
REDIS_PORT=6379

# ===== Elasticsearch =====
ELASTIC_PROTOCOL=http
ELASTIC_HOST=content_elasticsearch
ELASTIC_PORT=9200

# ===== Auth variables =====
AUTH_PASSWORD='secret'
AUTH_ALGORITHM='HS256'

# ===== Jaeger =====
SERVICE_NAME='content_service'
JAEGER_HOST='tracer_jaeger'
JAEGER_PORT=6831

# ===== Tracer =====
ENABLE_TRACER='True'
SHOW_TRACER='False'
