# This is a .env.sample file.
# Duplicate this file as .env or rename it
# and set the environment variables to match your desired config.

# ===== FastAPI =====
PROJECT_NAME=movies

# ===== Redis =====
REDIS_HOST=content_redis
REDIS_PORT=6379

# ===== Elasticsearch =====
ELASTIC_PROTOCOL=http
ELASTIC_HOST=content_elasticsearch
ELASTIC_PORT=9200

# ===== Docker compose variales =====
NGINX_PORTS='80:80'
REDIS_VERSION=7.2.4
ELASTIC_VERSION=8.12.1
REDIS_PORTS=6379:6379
ELASTIC_PORTS=9200:9200
